<div class="container mx-auto  mt-3">
    <div class="row  mt-5 ">
        <div class="col-2 text-end">
            <a routerLink="/carList" class="btn btn-success btn-sm">List Cars</a>
        </div>
        <div class="col-2 text-end">
            <a routerLink="/carAdd" class="btn btn-success btn-sm">Add New Car</a>
        </div>
        <div class="col-2 text-end">
            <a routerLink="/carEdit" class="btn btn-success btn-sm">Edit New Car</a>
        </div>
        <div class="col-2 text-end">
            <a routerLink="/carDelete" class="btn btn-success btn-sm">Delete New Car</a>
        </div>
    </div>
</div>

<div class="container mx-auto mt-5">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center">
            <div class="services-wrap rounded-right text-white">
                <h4 class="display-5">Better Way to Rent Your Perfect Cars</h4>
                <p><a routerLink='/carReservation' class="btn btn-primary btn-lg">Reserve Your Perfect Car</a></p>
            </div>
        </div>
    </div>
</div>
