<div class="container">
    <div class="registration-container  mt-3 ">
      <h2>Registration</h2>
      <form class="p-3">
        <div class="form-group">
          <label for="username">Firstname</label>
          <input type="text" class="form-control" id="username" placeholder="Enter your Firstname">
        </div>
        <div class="form-group">
          <label for="username">Lastname</label>
          <input type="text" class="form-control" id="password" placeholder="Enter your Lastname">
        </div>
        <div class="form-group">
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
              </div>
            <label for="number">Phone </label>
            <input type="number" class="form-control" id="number" placeholder="Enter your phone">
          </div>
          <div class="form-group">
            <label for="number">Num CIN</label>
            <input type="number" class="form-control" id="CIN" placeholder="Enter your num cin">
          </div>
        <div class="form-group">
          <label for="userType">Register as:</label>
          <select class="form-control" id="userType">
            <option value="customer">Customer</option>
            <option value="carOwner">Car Owner</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
      </form>
    </div>
  </div>
  